@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.container {
  padding: 0 2rem;
}

.flex {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.leftNav {
  display: flex;
}

@media only screen and (min-width: 1400px) {
  .flexDoctors {
    display: flex;
    justify-content: space-between;
  }
}
.logo {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 20px;
  background-color: rgb(50, 149, 241);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  user-select: none;
  animation: logo-in 0.8s ease-in-out 0.5s;
}
@keyframes logo-in {
  0% {
    color: rgb(50, 149, 241);
    border-radius: 15px;
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    border-radius: 20px;
    color: white;
  }
}
.rightNav {
  display: flex;
  justify-content: right;
  width: 40%;
}

.button {
  padding: 0 20px;
}
